// COLORES

$blanco : hsl(0, 0%, 100%);
$negro : hsl(0, 0%, 0%);
$gris : hsl(0, 0%, 55%);
$grisOscuro : hsl(0, 0%, 41%);

// FUENTE

$fontSize : 15px;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$font1 : 'Alata', sans-serif;
$font2 : 'Josefin Sans', sans-serif;